{% extends 'base.html' %}

{% block title %}Sobre Mim - Meu Portfólio{% endblock %}

{% block content %}
<div class="glass-container fade-in text-center">
    <h2>Sobre Mim</h2>
    <p>Sou Luiz Guilherme Diogo Garcia, especialista em Desenvolvimento RPA com ampla experiência nas principais ferramentas do mercado. Com um olhar afiado para a automação e a eficiência, estou sempre em busca de novas maneiras de otimizar processos.</p>
</div>

<div class="glass-container fade-in mt-5">
    <h3>Habilidades Técnicas</h3>
    <ul class="list-unstyled">
        <li><strong>Ferramentas RPA:</strong> UiPath, Automation Anywhere, Blue Prism, WinActor, SAP BTP.</li>
        <li><strong>Linguagens de Programação:</strong> Python, C#, Java, VB.NET.</li>
        <li><strong>Integração de Sistemas:</strong> SAP, MS Tools.</li>
        <li><strong>Gestão de Processos:</strong> Análise de Negócios, Documentação (PDD, SDD).</li>
    </ul>
</div>
{% endblock %}
