{% extends 'base.html' %}

{% block title %}Experiência Profissional - Luiz Guilherme{% endblock %}

{% block content %}
<div class="container">
    <h2>Experiência Profissional</h2>

    <div class="job">
        <h3>NTT DATA</h3>
        <p><strong>Período:</strong> Junho 2022 - Presente | Brasil | Híbrido</p>
        <p><strong>Posição:</strong> Desenvolvedor RPA</p>
        <p>Desenvolvimento de soluções RPA utilizando as principais ferramentas do mercado, incluindo Automation Anywhere (Versão 11), Blue Prism, Power Automate, WinActor, UIPath e SAP BTP.</p>
        <p>Responsável pela criação de documentação (PDD e SDD), além de treinamentos internos em RPA e Python.</p>
    </div>
</div>
{% endblock %}
