{% extends 'base.html' %}

{% block title %}Página Inicial - Meu Portfólio{% endblock %}

{% block content %}
<div class="hero">
    <div class="hero-content">
        <h1>Olá, eu sou Luiz Guilherme</h1>
        <p>Desenvolvedor especializado em criar soluções inovadoras.</p>
        <a href="#projetos" class="btn btn-primary">Veja meus projetos</a>
    </div>
</div>


<div class="glass-container fade-in text-center mt-5">
    <h2>Sobre Mim</h2>
    <p>Sou um desenvolvedor dedicado com mais de [número de anos] anos de experiência em [área de especialização]. Adoro criar soluções que não só funcionam bem, mas também encantam os usuários.</p>
    <a class="btn btn-primary btn-lg mt-3" href="/sobre" role="button">Saiba Mais</a>
</div>
{% endblock %}
