{% extends 'base.html' %}

{% block title %}Habilidades e Certificações - Luiz Guilherme{% endblock %}

{% block content %}
<div class="container">
    <h2>Habilidades e Certificações</h2>
    
    <h3>Habilidades Técnicas</h3>
    <ul>
        <li>Ferramentas RPA: UiPath, Automation Anywhere, Blue Prism, WinActor, SAP BTP.</li>
        <li>Programação: Python, C#, Java, VB.NET.</li>
        <li>Sistemas de gerenciamento de pedidos.</li>
        <li>Integração de sistemas e tecnologia.</li>
        <li>Análise de negócios.</li>
        <li>Ferramentas MS.</li>
        <li>Comunicação e documentação.</li>
    </ul>

    <h3>Certificações</h3>
    <ul>
        <li>Automation Anywhere Certified Professional</li>
        <li>Python: Advanced Object-Oriented Programming</li>
        <li>Python: Advanced Language Skills</li>
        <li>Blue Prism Foundation Training</li>
        <li>Bot Developer A360</li>
        <li>Public Speaking</li>
        <li>Comunicação</li>
    </ul>
</div>
{% endblock %}
